[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
  }

   /* Main Form */
  * {
    box-sizing: border-box;
  }
   body {
    margin: 0;
    background: #FFF;
  }

  .app-container {
    border-radius: 1px;
    overflow: hidden;
    width: 840px;
    height: auto;
    max-width: 100%;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
    border-style: solid;
    border-color: #454849;
  }

  .new-container {
    border-radius: 1px;
    overflow: hidden;
    max-width: fit-content;
    width: fit-content;
    height: auto;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
    border-style: solid;
    border-color: #454849;
  }

  .personal-container{
    margin: auto;
  }


  .buttons-container {
    position: absolute;
    bottom: 15px;
    right: 0;
    height: 40px;
    font-family: "Roboto", sans-serif;
  }

  .cancel-button,
  .set-button {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border-radius: 2px;
    margin-right: 15px;
    margin: 0 auto 10px;
    cursor: pointer;
    transition: all 0.15s ease;
    position: relative;
  }

  .cancel-button {
    background: white;
    color: #0d2735;
  }

.Notes{
  font-weight: bolder;
  color: #0d2735;
  font-size: 16px;
}

  textarea{
    resize: none
  }
 .set-button {
  display: block;
  background: #0d2735;
  color: white;
  margin-top: 15px;
  width: 45%;
}

 /* New Account Form */
 input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.save-button {
  background: #0d2735;
  color: white;
  float: left;
  margin-left: -100px;
  margin-top: 30px;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 35px;
  padding: 5px 15px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.15s ease;
  position: relative;
  left: 185px;
}
/* End New Account Form */

.next-button {
  background: #0d2735;
  color: white;
  float: left;
  margin-left: -90px;
  margin-top: 30px;
  height: 35px;
  padding: 5px 15px;
  border-radius: 2px;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.15s ease;
  position: relative;
  left: 185px;
}

  .control-label{
      font-weight: bolder;
      color: #0d2735;
      font-size: 16px;
  }

   /* Radio Button Time Slots */
   .radio-toolbar {
    display: grid;
    margin: 5px;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    padding: 5px;
  }

  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 100px;
  }

  .radio-toolbar label {
      display: inline-block;
      background-color: #ddd;
      color: black;
      padding: 5px 20px 5px;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      border: 2px solid #454849;
      border-radius: 4px;
      display: inline-block;
      margin-top: 7px;
      margin-left: 1px;
      text-align: center;
      cursor: pointer;
  }

  .radio-toolbar label:hover {
    background-color: #dfd;
  }

  .radio-toolbar input[type="radio"]:focus + label {
      border: 2px dashed #444;
  }

  .radio-toolbar input[type="radio"]:checked + label {
      background-color: #0DAD83;
      border-color: #0d2735;
  }

  .radio-toolbar label:disabled
  {
    background-color: #000;
    cursor: initial;
  }

  /* Datepicker Elements */
  .datepicker {
    position: relative;
    width: 100%;
    display: block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    transition: background 0.15s ease;
  }

  .datepicker.am {
    background: white;
  }

  .datepicker.pm {
    background: #0DAD83;
  }

  .datepicker-header {
    width: 100%;
    color: white;
    overflow: hidden;
  }

  .datepicker-title {
    width: 50%;
    float: left;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    text-align: left;
    font-size: 20px;
  }

  .datepicker-subheader {
    width: 50%;
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    padding: 0 15px;
    text-align: right;
  }

  .datepicker-calendar {
    width: 50%;
    float: left;
    padding: 20px 15px 15px;
    display: block;
  }

  .calendar-header {
    color: #0d2735;
    font-weight: bolder;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    position: relative;
  }

  .current-month-container {
    display: inline-block;
    height: 30px;
    position: relative;
  }

  .goback,
  .goforward {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: -4px;
  }

  .goback path,
  .goforward path {
    transition: stroke 0.15s ease;
  }

  .goback {
    float: left;
    margin-left: 3.8%;
  }

  .goforward {
    float: right;
    margin-right: 3.8%;
  }

  .calendar-day-header {
    width: 100%;
    position: relative;
  }

  .day-label {
    color: #8A8A8A;
    padding: 5px 0;
    width: 14.2857142%;
    display: inline-block;
    text-align: center;
  }

  .datecontainer {
    width: 14.2857142%;
    display: inline-block;
    text-align: center;
    padding: 4px 0;
  }

  .datenumber {
    max-width: 35px;
    max-height: 35px;
    line-height: 35px;
    margin: 0 auto;
    color: #8A8A8A;
    position: relative;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    transition: all 0.25s cubic-bezier(0.7, -0.12, 0.2, 1.12);
  }

  .no-hover .datenumber,
  .no-hover .datenumber:hover,
  .no-hover .datenumber:before,
  .no-hover .datenumber:hover::before {
    cursor: default;
    color: #8A8A8A;
    background: transparent;
    opacity: 0.5;
  }

  .no-hover .datenumber.day-selected {
    color: white;
  }

  .datenumber:hover {
    color: white;
  }

  .datenumber:before {
    content: "";
    display: block;
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 100px;
    z-index: -1;
    background: transparent;
    transform: scale(0.75);
    transition: all 0.25s cubic-bezier(0.7, -0.12, 0.2, 1.12);
    transition-property: background, transform, color, border;
  }

  .datenumber:hover::before {
    background: #0d2735;
    transform: scale(1);
  }

  .day-selected {
    color: white;
  }

  .datenumber.day-selected:before {
    background: #FF6E40;
    transform: scale(1);
    -webkit-animation: select-date 0.25s forwards;
    animation: select-date 0.25s forwards;
  }

  @-webkit-keyframes select-date {
    0% {
      background: #0d2735;
    }
    100% {
      background: #0d2735;
    }
  }
  @keyframes select-date {
    0% {
      background: #0d2735;
    }
    100% {
      background: #0d2735;
    }
  }
  /* timepicker styles */
  .timepicker-container-outer {
    width: 50%;
    max-width: 700px;
    float: left;
    display: block;
    padding: 30px 20px 10px;
    top: 50px;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    transition: background 0.15s ease;
  }

  .timepicker-container-inner {
    width: 100%;
    height: 100%;
    max-width: 320px;
    margin: 0 auto;
    position: relative;
    display: block;
  }

  .timeline-container {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    height: 36px;
  }

  .datepicker.am .datepicker-header {
    color: white;
    background: #0d2735;
  }
  .datepicker.am .current-time::after {
    background: #0d2735;
  }

  .datepicker.pm .goback:before,
  .datepicker.pm .goback:after,
  .datepicker.pm .goforward:before,
  .datepicker.pm .goforward:after {
    background: white;
  }
  .datepicker.pm .day-label {
    color: white;
  }
  .datepicker.pm .datenumber {
    color: white;
  }
  .datepicker.pm .datenumber:hover::before {
    background: rgba(255, 255, 255, 0.5);
    transform: scale(1);
  }
  .datepicker.pm .datenumber.day-selected {
    color: #FF693C;
  }
  .datepicker.pm .datenumber.day-selected:before {
    background: white;
    -webkit-animation: select-date-pm 0.25s forwards;
    animation: select-date-pm 0.25s forwards;
  }
  .datepicker.pm .current-month-container {
    color: white;
  }
  .datepicker.pm .current-time::after {
    background: white;
  }
  .datepicker.pm .actual-time {
    color: #FF6E40;
  }
  .datepicker.pm .display-time {
    color: white;
  }
  .datepicker.pm .timeline::before, .datepicker.pm .pm .timeline::after {
    background: white;
  }
  .datepicker.pm .hour-mark {
    background: white;
  }
  .datepicker.pm .am-pm-button:last-child {
    color: #FF6E40;
  }
  .datepicker.pm .cancel-button {
    background: none;
    color: white;
  }
  .datepicker.pm .save-button {
    background: white;
    color: #FF693C;
  }
  .datepicker.pm .goback path,
  .datepicker.pm .goforward path {
    stroke: white;
  }
  .datepicker.pm .time-input:focus ~ .formatted-time {
    background: white;
    color: #FF693C;
  }

  .datepicker.compact .datepicker-title,
  .datepicker.compact .datepicker-subheader {
    width: 100%;
    text-align: center;
  }
  .datepicker.compact .datepicker-title {
    height: 50px;
    line-height: 50px;
  }
  .datepicker.compact .datepicker-subheader {
    height: 30px;
    line-height: 30px;
  }
  .datepicker.compact .display-time {
    width: 60%;
    font-size: 20px;
    line-height: 36px;
  }
  .datepicker.compact .app-container {
    width: 100%;
  }
  .datepicker.compact .datepicker-calendar {
    width: 100%;
    margin: 0 auto;
    float: none;
  }
  .datepicker.compact .timepicker-container-outer {
    width: 100%;
    margin: 0 auto;
    float: none;
    top: -15px;
  }
  .datepicker.compact .buttons-container {
    position: relative;
    float: right;
  }

  .app-container .personal-container{
    position: relative;
    left: 20px;
    margin-top: 10px;
    font-weight: bolder;
    color: #0d2735;
    font-size: 16px;
  }

  .app-container .personal-container .labelMargin{
    margin-left: 132px;
  }

  .app-container .personal-container .inputMargin{
    margin-left: 30px;
  }

  .app-container .personal-container .smallMargin{
    margin-top: 15px;
  }

/*kung gusto nyo submit button sa personal info uncomment nyo lng
 .submit-button{
   float: left;
   height: 40px;
   line-height: 40px;
   padding: 0 15px;
   border-radius: 2px;
   margin-right: 15px;
   cursor: pointer;
   transition: all 0.15s ease;
   position: relative;
   left: 500px;
   bottom: 100px;
   background: #0d2735;
   color: white;
   float: left;
   margin-left: -90px;
   margin-top: 30px;
 }
*/
